@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ceviche+One&family=Shadows+Into+Light&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    #e9ecef,
    #dee1e5,
    #d2d7dc,
    #c7ccd2,
    #bcc2c9,
    #acb2ba,
    #9ca3ab,
    #8d949c,
    #757c84,
    #5f656c,
    #494f56,
    #343a40
  );
}

.buttonRight {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 100px;
  height: 80px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  border-radius: 50%;
  font-size: 32px;
  background: hsl(226, 25%, 69%);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonRight:hover {
  filter: brightness(110%);
}

.buttonRight:hover .front {
  transform: translateY(-16px);
  background: hsl(226, 58%, 19%);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.buttonLeft {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 100px;
  height: 80px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  border-radius: 50%;
  font-size: 32px;
  background: hsl(226, 25%, 69%);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
